:root {
    --color-one: #ecf0f1;
    --color-two: #e74c3c;
    --color-three: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* css reset start */
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: unset;
}

/* css reset end */



/* utility classes start*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* utility classes end */


body {
    background-color: var(--color-one);
}

main {
    padding: 0 7%;
}

header {
    background-color: var(--color-two);
    padding: 15px 20px;
}

h1 {
    color: var(--color-one);
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.head-container {
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 0 2px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.head-container li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-one);
}



.head-container img {
    width: 20px;
    height: 20px;
}

h2 {
    padding: 20px 0;
}

.services-container {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
}

.services-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.services-grid>div {
    background-color: var(--color-two);
    color: var(--color-three);
    height: 350px;
    border: 1px solid red;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform .5s ease;
}

.services-grid>div:hover {
    transform: scale(1.04);

}

.services-grid>div img {
    height: 300px;
    width: 100%;
}

.card-title {
    /* border: 1px solid red; */
    text-align: center;
    padding: 10px;
    font-weight: 400;
}

@media (max-width:700px) {
    h1 {
        font-size: 1rem;
    }

    .head-container li span {
        display: none;
    }
}